#newWallpaperForm textarea {
    width: 94%;
}
#newWallpaperForm textarea {
    width: 94%;
    margin: 2%;
    height: 240px;
}
#newWallpaperForm img {
    width: 94%;
}
img {
    max-width: 100%;
}
.idle #wallpaper {
    display: none;
}
.row {
    position: relative;
    display: block;
    min-height: 64px;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    padding-left: 42px;
}
.row:hover {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
.row .details {
    z-index: 1;
    position: absolute;
    top:0;
    right: 0;
    text-align: right;
    display: none;
}
.row:hover .details {
    display: block;
}
.row .actions
{
    display: none;
    margin-top: -2px;
    background: rgba(0,0,0,0.5);
    padding: 4px;
    border-radius: 6px;
    z-index: 2;
}
.row .actions span {
    display: block;
}
.row .details:hover .actions {
    display: block;
}

.row .title {
    margin-left: 12px;
    margin: 16px;
}
.row .contentType {
    margin: 0px;
    position: absolute;
    top:0;
    left: 0;
}
.row .avatar {
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
}
.row .avatar img {
    height: 100%;
}
.row .faviconfile {
    position: absolute;
    top: 0;
    left: 0px;
}
.row .faviconfile img {
    max-height: 32px;
    vertical-align: top;
    padding: 16px 16px 16px 0px;
}
.urlForm {
}
.urlForm input[type="url"] {
    width: 100%;
    font-size: 24px;
    text-indent: 4px;
}
.urlForm input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

[class*='mime-'] {
    display: block;
    height: 18px;
    width: 18px;
    background: url("/files/icon/unkown.png") top left;
    background-size: 18px;
    text-indent: 40px;
    overflow: hidden;
}

.mime-text-plain {
    background-image: url("/files/icon/text-plain.png");
}
.mime-text-html {
    background-image: url("/files/icon/text-html.png");
}
.mime-application-javascript {
    background-image: url("/files/icon/application-javascript.png");
}
.mime-application-xml {
    background-image: url("/files/icon/application-rss+xml.png");
}
.mime-application-pdf {
    background-image: url("/files/icon/application-pdf.png");
}
.mime-application-octet-stream {
    background-image: url("/files/icon/application-octet-stream.png");
}
.mime-application-x-gzip {
    
}
.mime-application-x-empty {
    
}
.mime-audio-mpeg {
    background-image: url("/files/icon/audio-mpeg.png");
}
.mime-image-jpeg {
    background-image: url("/files/icon/image-x-generic.png");
}
.mime-image-png {
    background-image: url("/files/icon/image-x-generic.png");
}
.mime-image-gif {
    background-image: url("/files/icon/image-x-generic.png");
}