body.loading {
    cursor: wait;
}
body.loading #loading {
    display: block;
}
body #loading {
    display: none;
}
body > .app { padding-top: 50px; }
body {
    background-color: rgba(255, 255, 255, 0);
}
img {
    max-width: 100%;
}
#accountNav .dropdown-toggle img.avatar, #accountMenu img.avatar {
    max-height: 18px;
    max-width: 18px;
    margin: 0px 0px 0px 0px;
}
#accountMenu img.avatar {
    margin: 0px 0px 0px 12px;
}
#accountNav .dropdown-toggle .userAvatarName .name {
    display: none;
}
.btn-group img.avatar {
    max-height: 26px;
    max-width: 26px;
}
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
ul.images li .info {
    display:none;
    font-size: .6em;
}
ul.images li {
    float: left;
    height: 248px;
    width: 23%;
    overflow: hidden;
    position: relative;
    padding: 0 0;
    margin: 1%;
    box-sizing: border-box;
    border: 1px inset rgba(125, 125, 125, .5);
}
ul.images li img {
    margin: 0 auto;
    display: block;
    width: 100%;
    background: white;
}
ul.images li .info {
    display:none;
    font-size: .6em;
}

ul.images li[selected] .info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: white;
    color: black;
    display: block;
}
ul.images li[selected] .info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: white;
    color: black;
    display: block;
}
.list-pager {
    clear: both;
    text-align: center;
}
#files-list .actions {
    display:none;
}
#files-list button[processed] {
    background: orange;
    color: black;
}
#files-list ul li[selected] .actions {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.actions .delete, .actions .groups, .actions .tags{
    display: block;
}

ul.images li[selected] {
    background: yellow;
}
ul.images li[selected] .filename, ul li[selected] .time {
    display: inline;
}
.carousel-control {
    display: none;
}

#image-viewer img {
    max-width: 100%;
    max-height: 100%;
    background: white;
}
#image-viewer img.map {
    width: auto;
}
img.rotateNinety {
    -moz-transform: rotate(90deg);  /* FF3.5/3.6 */
    -o-transform: rotate(90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(90deg);  /* Saf3.1+ */
    transform: rotate(90deg);  /* Newer browsers (incl IE9) */
}

.exifData {
    display:none;
}
.download, .exif, .at, .checkin {
    display: block;
}
.download a:not(:first-child) {
    display: none;
}


.download:hover a:not(:first-child) {
    display: inline;
}

@media only screen and (max-width: 767px) {
    ul.images li {
        width: 25%;
        height: 100px;
        margin: 0 0;
        border: 4px solid white;
    }
    .carousel-control {
        display: none;
    }
    #header menu li {
    }
    
    #header menu li h1, #header menu li h2 {
        padding: 0 0;
    }
    
    #header h1 {
        font-size: 1em;
    }
    #header h2 {
        font-size: .77em;
    }
    ul li {
        height: 74px;
        width: 23%;
        font-size: .7em;
    }
    #navigation menu, #account menu {
        width: 200%;
    }
}
@media only screen and (min-width: 767px) {
    ul.images li {
        width: 23%;
        font-size: .7em;
    }
    ul.images li:hover {
        background: yellow;
        color: black;
    }
    #header menu li:not([selected]):hover {
        color: yellow;
        cursor: pointer;
    }
    ul li:hover {
    }
    ul li:hover img {
    }
    #navigation:hover menu, #account:hover menu {
        visibility: visible !important;
    }
}
@media only screen and (min-width: 1024px) {
    ul.images li {
        height: 174px;
        width: 14.66%;
        font-size: .7em;
    }
}
.fileForm {
    padding: 6px;
    width: 100%;
    height: 50px;
    display: block;
    position: relative;
    box-sizing: border-box;
}
.fileForm button {
    height: 100%;
    width: 100%;
}
.upload .meter {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(16,16,16,0.5);
    position: absolute;
    top: 0;
    left: 0;
    cursor: wait;
    border-radius: 5px;
}
.upload .meter .bar {
    background: rgba(255, 255, 0, 0.7);
    border-radius: 5px;
    height: 100%;
}
.carousel-control {
    font-size: 120px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    opacity: 0.5;
    position: absolute;
    top: 40%;
    z-index: 2;
    text-decoration: none;
}
.carousel-control.left {
    left: 2%;
}
.carousel-control.right {
    right: 2%;
}
.imageFullView {
    text-align: center;
}

#image-viewer, #image-viewer img {
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

#image-viewer {
	width:100%;
	min-width:320px;
}

#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:auto;
}

#swipeview-slider > span {
	-webkit-box-sizing:border-box;
	display:block;
	text-align:center;
	font-size:1.4em;
	padding:0 20px;
}

.row .actions {
    display: none;
}
#image-viewer {
    height: 100%;
}
html, body, .app {
    height: 100%;
}
.app {
    box-sizing: border-box;
    padding-top: 44px;
}