.pageTitle {
    text-align: center;
    position: absolute;
    left: 100px;
    right: 100px;
}
li.sub {
    position: relative;
}
li.sub .actions {
    float: right;
} 
li.sub:hover .actions {
}
.list-controls {
    position: fixed;
    top: 8px;
    right: 100px;
    z-index: 99999;
    display: block;
}
.unreadCount {
    padding: 15px;
    color: #BEBEBE;
}
.unreadCount.total {
    padding: 10px 0px;
}
.list-pager {
    text-align: right;
}
@media only screen and (min-width: 767px) {
    .subs-list {
    }
    .subs-list .showAllFeeds {
        font-weight: bold;
        padding: 8px;
    }
    .subs-list .subs, .subs-list .showAllFeeds {
        direction: ltr;
    }
    .subs .title {
        font-size: 14px;
        line-height: 42px;
    }
    .subs .title a {
    }
    .news-list {
    }
}
.favicon img {
    max-height: 16px;
}

.subs .title {
}
.subs .title a {
}
.news-list {
}
.subscribe input {
    text-indent: 4px;
    width: 100%;
    box-sizing: border-box;
}
.subs .byline, .subs-list .list-pager {
    display: none;
}
.app > .form {
    position: fixed;
    top: 45px;
    bottom: 0px;
    left: 0px;
    width: 250px;
    height: 32px;
    z-index: 2;
    border-bottom: 1px dashed black;
}
.news .story .summary img {
    display: none;
}
.news .story a.title {
    color: rgb(25, 89, 201);
    margin-right: 12px;
    cursor: pointer;
    font-size: 17px;
}
.news .story .byline {
    float: right;
    padding: 12px;
    color: #999;
    font-size: 12px;
}
.news .story .actions .checkbox {
    margin: 0 0;
}
.news .story .summary {
    display: inline;
}
.news .story .summary iframe {
    display: none;
}
ul.news li.story .fromUrl {
    margin-right: 8px;
}
ul.news li.story[selected] .summary, ul.news.expanded li.story .summary, ul.news li.story[selected] .summary iframe, ul.news.expanded .story .summary iframe {
    padding: 12px;
    display: block;
}
.news .story .summary p, .news .story .summary h1, .news .story .summary h2, .news .story .summary h3 {
    display: inline;
    font-weight: normal;
    font-size: 1em;
}
ul.news {
    margin-top: 12px;
}
ul.news li.story {
    border-bottom: 1px solid #D6D6D6;
}
ul.news li.story[selected], ul.news.expanded li.story {
    height: auto !important;
    padding: 16px 4px;
}
ul.news li.story[selected] a.title, ul.news.expanded a.title {
    display: inline;
    line-height: 28px;
    padding-left: 12px;
}
ul.news li.story[selected] .summary img, ul.news.expanded .summary img {
    display: inline;
}
ul.news li.story[selected] .summary p, ul.news.expanded .summary p,
ul.news li.story[selected] .summary h1, ul.news.expanded .summary h1,  
ul.news li.story[selected] .summary h2, ul.news.expanded .summary h2, 
ul.news li.story[selected] .summary h3, ul.news.expanded .summary h3, 
ul.news li.story[selected] .summary h4, ul.news.expanded .summary h4 {
    display: block;
    font-weight: initial !important;
    font-size: initial !important;
}

.subs .favicon {
    padding: 6px;
}

li.story .rating {
    cursor: pointer;
}
.rating {
  unicode-bidi: bidi-override;
}
.rating .star {
    font-size: 133%;
    font-weight: bold;
    color: #CCC;
}
.rating.selected .star {
    color: #000;
}
.rating:hover .star {
    
}
.rating > span {
  display: inline-block;
  position: relative;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: rgb(25, 89, 201);
}
.rating > span.selected:before,
.rating > span.selected ~ span:before {
   content: "\2605";
   position: absolute;
   color: rgb(25, 89, 201);
}
.rating.selected > span:before,
.rating.selected > span ~ span:before {
   content: "\2605";
   position: absolute;
   color: rgb(25, 89, 201);
}
.rating.selected > span:hover:before,
.rating.selected > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: rgba(25, 89, 201, 0.5);
}



