@font-face {
    font-family: 'FreeUniversal';
    src: url('/pages/fonts/FreeUniversal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {*/

/*font-family: 'FreeUniversal';*/

/*    src: url('/pages/fonts/FreeUniversal-Italic.ttf') format('truetype');*/

/*font-weight: normal;*/

/*font-style: italic;*/

/*  }*/

/*@font-face {*/

/*font-family: 'FreeUniversal';*/

/*    src: url('/pages/fonts/FreeUniversal-BoldItalic.ttf') format('truetype');*/

/*font-weight: bold;*/

/*font-style: italic;*/

/*  }*/

@font-face {
    font-family: 'FreeUniversal';
    src: url('/pages/fonts/FreeUniversal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('/pages/fonts/Crimson-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('/pages/fonts/Crimson-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson';
    src: url('/pages/fonts/Crimson-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.story .summary a {
    word-break: break-all;
}
.story > a.title {
    font-family: 'FreeUniversal';
    font-size: 22px;
    font-weight: bold;
}
.story .summary {
    font-family: 'Crimson';
    font-size: 22px;
    line-height: 1.5;
}
.pageTitle {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    text-align: center;
}
li.sub {
    position: relative;
}
li.sub .actions {
    float: right;
}
li.sub:hover .actions {} .list-controls {
}
.showAllFeeds {
    padding: 6px;
}
.unreadCount {
    padding: 15px;
    color: #BEBEBE;
}
.unreadCount.total {
    padding: 10px 10px;
}
.list-pager {
    text-align: right;
    clear: both;
}
.subs-list .saved .star {
    font-size: 22px;
    padding: 0px 0px 0px 4px;
}
@media only screen and (min-width: 767px) {
    .subs-list {} .subs-list .showAllFeeds {
        font-weight: bold;
        padding: 8px;
    }
    .subs-list .subs,
    .subs-list .showAllFeeds {
        direction: ltr;
    }
    .subs .title {
        font-size: 14px;
        line-height: 42px;
    }
    .subs .title a {} .news-list {}
}
.favicon img {
    max-height: 16px;
}
.subs .title {} .subs .title a {} .news-list {} .subscribe input {
    text-indent: 4px;
    width: 100%;
    box-sizing: border-box;
}
.subs .byline,
.subs-list .list-pager {
    display: none;
}
.app > .form {
    position: fixed;
    top: 45px;
    bottom: 0px;
    left: 0px;
    width: 250px;
    height: 32px;
    z-index: 2;
    border-bottom: 1px dashed black;
}
.news .story .summary img {
    display: none;
}
.news .story a.title {
    color: rgb(25, 89, 201);
    margin-right: 12px;
    cursor: pointer;
}
.story .rating {
    position: absolute;
    bottom: 0px;
    left: 6px;
}
.news .story .actions {
    position: absolute;
    bottom: 0;
    left: 30px;
    padding: 4px;
    color: #999;
}
.news .story .sharing {
    position: absolute;
    bottom: 4px;
    left: 60px;
    padding: 4px;
    color: #FFFFFF;
    background: #E6E6E6;
}
.news .story .actions .checkbox input {
    display: none;
}
.news .story .actions:hover label {
    display: inline;
}
.news .story .actions .checkbox {
    margin: 0 0;
    opacity: 0.5;
    padding-left: 0px;
    padding-top: 3px;
}
.news .story .actions:hover  .checkbox {
    display: block;
    opacity: 1;
}
ul.news li.story .fromUrl .avatar {
    margin-left: 6px;
    margin-right: 6px;
}
ul.news li.story .fromUrl, .news .story .byline {
    color: #999;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 12px;
    float: right;
}

ul.news li.story[selected] .summary.full,
ul.news.expanded li.story .summary,
ul.news li.story.no-title .summary,
ul.news li.story[selected] .summary iframe,
ul.news.expanded .story .summary iframe {
    padding: 12px 6px 0px;
    display: block;
}
ul.news li.story.no-title .title, ul.news li.story.no-title .summary.full {
    display: none;
}
.news .story .summary p,
.news .story .summary h1,
.news .story .summary h2,
.news .story .summary h3 {
    display: inline;
    font-weight: normal;
    font-size: 1em;
}
ul.news {
    margin-top: 12px;
    clear: both;
}
ul.news li.story {
    position: relative;
    border-bottom: 12px solid #FFF;
    border-top: 1px solid rgb(223, 223, 223);
}
ul.news li.story[selected],
ul.news.expanded li.story {
    height: auto !important;
    padding: 20px 4px 0px;
    overflow: auto;
}
ul.news li.story[selected] a.title,
ul.news.expanded a.title {
    display: block;
    line-height: 28px;
    padding-left: 6px;
}
ul.news li.story[selected] .summary img,
ul.news.expanded .summary img {
    display: inline;
    max-width: 100%;
    height: auto;
}
.news .story .byline {
    margin-left: 111px;
}
ul.news.expanded .summary img.abbrImg {
    float: left;
    padding: 6px 16px 4px 2px;
    height: 120px;
}
ul.news.expanded .summary img[height="1"], ul.news li.story[selected] .summary img[height="1"] {
    display: none;
}
ul.news li.story[selected] .summary p,
ul.news.expanded .summary p,
ul.news li.story[selected] .summary h1,
ul.news.expanded .summary h1,
ul.news li.story[selected] .summary h2,
ul.news.expanded .summary h2,
ul.news li.story[selected] .summary h3,
ul.news.expanded .summary h3,
ul.news li.story[selected] .summary h4,
ul.news.expanded .summary h4 {
    display: block;
    font-weight: initial !important;
    font-size: initial !important;
}
.subs .favicon {
    padding: 6px;
}
li.story .rating {
    cursor: pointer;
}
.rating {
    unicode-bidi: bidi-override;
}
.rating .star {
    font-size: 133%;
    font-weight: bold;
    color: #CCC;
}
.rating.selected .star {
    color: #000;
}
.rating:hover .star {} .rating > span {
    display: inline-block;
    position: relative;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: rgb(25, 89, 201, 0.5);
}
.rating > span.selected:before,
.rating > span.selected ~ span:before {
    content: "\2605";
    position: absolute;
    color: rgb(25, 89, 201);
}
.rating.selected > span:before,
.rating.selected > span ~ span:before {
    content: "\2605";
    position: absolute;
    color: rgb(25, 89, 201);
}
.rating.selected > span:hover:before,
.rating.selected > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: rgba(25, 89, 201, 0.5);
}
.news .story .summary {
    display: none;
    overflow: visible;
}
ul.news.expanded li.story .summary.full {
    display: none;
}
ul.news.expanded li.story.selected .summary {
    display: none;
}
ul.news.expanded li.story.selected .summary.full {
    display: block;
}
.news .story .summary iframe {
    display: none;
}
.news .story .summary .feedflare, .news .story .summary .yarpp-related-rss {
    display: none;
}
.summary img.enclosureImg {
    float: left;
    margin: 0px 12px 16px 0px;
}
.enclosure {
    margin: 12px 0px 0px 0px;
    display: block;
}
.enclosure audio, .enclosure img {
    width: 100%;
}

.news .story .actions .checkbox label:before {  
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 1px solid rgb(199, 199, 199);
    display: block;
    color: rgb(10, 10, 156);
    font-size: 24px;
    content: " ";
    line-height: 4px;
    text-align: center;
    text-indent: -1px;
    padding-top: 3px;
}
.news .story .actions .checkbox label:hover:before {
    content: "●";
    color: rgba(10, 10, 156, 0.5);
}
.news .story .actions .checkbox input[type=checkbox]:checked + label:before {
    content: "●";
}
.news:not(.expanded) .story:not(.selected) .actions, .news:not(.expanded) .story:not(.selected) .byline, .news:not(.expanded) .story:not(.selected) .fromUrl, .news:not(.expanded) .story:not(.selected) .rating {
    display: none;
}
.news:not(.expanded) .story:not(.selected) {
    padding: 16px 0px;
}

ul.subs .sub .actions {
    display: none;
}
ul.subs .sub:hover .actions {
    display: block;
}

.sub .title.url {
    font-weight: normal;
    padding-left: 28px;
}

.btn-group .dropdown-menu {
    margin-top: 0;
}

#accountNav .dropdown-toggle img.avatar, #accountMenu img.avatar {
    max-height: 18px;
    max-width: 18px;
    margin: 0px 0px 0px 0px;
}
#accountMenu img.avatar {
    margin: 0px 0px 0px 12px;
}
#accountNav .dropdown-toggle .userAvatarName .name {
    display: none;
}