body.loading {
    cursor: wait;
}
body.loading #loading {
    display: block;
}
body #loading {
    display: none;
}
body > .app { padding-top: 50px; }
body {
    background-color: rgba(255, 255, 255, 0);
}
img {
    max-width: 100%;
}
#accountNav .dropdown-toggle img.avatar, #accountMenu img.avatar {
    max-height: 18px;
    max-width: 18px;
    margin: 0px 0px 0px 0px;
}
#accountMenu img.avatar {
    margin: 0px 0px 0px 12px;
}
#accountNav .dropdown-toggle .userAvatarName .name {
    display: none;
}
.btn-group img.avatar {
    max-height: 26px;
    max-width: 26px;
}