#newWallpaperForm textarea {
    width: 94%;
}
#newWallpaperForm textarea {
    width: 94%;
    margin: 2%;
    height: 240px;
}
#newWallpaperForm img {
    width: 94%;
}
img {
    max-width: 100%;
}
.idle #wallpaper {
    display: none;
}