#newWallpaperForm textarea {
    width: 94%;
}
#newWallpaperForm textarea {
    width: 94%;
    margin: 2%;
    height: 240px;
}
#newWallpaperForm img {
    width: 94%;
}
img {
    max-width: 100%;
}
.idle #wallpaper {
    display: none;
}

ul li {
    float: left;
    height: 248px;
    width: 23%;
    overflow: hidden;
    position: relative;
    padding: 0 0;
    margin: 1%;
    box-sizing: border-box;
    border: 1px inset rgba(125, 125, 125, .5);
}