body {
    
}
.houseCollectionHeader {
    float: none;
}

.menuGroups, .menuGroup, .menu-item-picker {
    .houseCollectionHeader {
        display: none;
    }
}
.navbar-nav > li > a {
    margin: 4px 6px;
}
.pageTitle {
    margin: 0 0;
}

.menuItem {
    .adminTools {
        margin-bottom: 64px;
    }
}
.menu-group-form, .menu-item-form {
    .houseCollectionHeader {
        display: none;
    }
    .images-list {
        .houseCollectionHeader {
            display: none;
        }
        .menuGroupImage, .menuItemImage {
            .actions {
                list-style: none;
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                background: white;
                margin: 0 0;
                padding: 4px;
                li {
                    float: left;
                }
            }
            &:hover {
                .actions {
                    display: block;
                }
            }
        }
    }
}
.menu-group-picker {
    .groupRow:hover {
        cursor: pointer;
        
        td {
            background-color: @brand-primary;
            color: white;
        }
    }
    .groupRow .actions {
        display: none;
    }
}
.menu-item-picker {
    .itemRow:hover {
        cursor: pointer;
        
        td {
            background-color: @brand-primary;
            color: white;
        }
    }
    .itemRow .actions {
        display: none;
    }
}

.menuGroupGroup, .menuGroupItem {
    ul.actions {
        list-style: none;
        display: none;
        position: absolute;
        top: 1px;
        right: 16px;
        z-index: 3;
        background: white;
        padding: 0 0;
        margin: 0 0;
        li {
            float: left;
        }
    }
    @media (min-width: @screen-xs-min) {
        &:hover {
            cursor: pointer;
            ul.actions {
                display: block;
                top: auto;
                bottom: 33px;
            }
        }
    }
    
    .groupGroup, .groupItem {
        height: 200px;
        background-color: @brand-primary;
        color: white;
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 32px;
        // padding: 2px 2px;
        .bgImage {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            img {
                width: 100%;
            }
        }
        h3 {
            z-index: 2;
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            margin: 0 0;
        }
    }
    @media (max-width: @screen-xs-max) {
        ul.actions {
            display: block;
        }
        .groupGroup, .groupItem {
            height: 100px;
        }
    }
}

.bgImage {
    .blur(2px);
}

.menuGroup.fullView {
    .group {
        .actions {
            padding-top: 24px;
        }
    }
}

@media (max-width: @screen-xs-max) {
     .navbar-form {
         margin: 5px 0;
     }
     .navbar-toggle {
         margin-top: 3px;
     }
 }
 
 #swipeview-slider > div {
    position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:hidden;
}
 
#swipeview-slider > span {
	-webkit-box-sizing:border-box;
	display:block;
	text-align:center;
	font-size:12px;
	padding:0 20px;
}

.carousel {
    height: 320px;
    -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
-o-text-size-adjust: none;
text-size-adjust: none;
}
@media (max-width: @screen-xs-max) {
    .carousel {
        height: 164px;
    }
}

.purchaseItem .price {
    font-size: 20px;
    padding: 0px 12px;
}

.order-mini {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: fadeOut(@brand-primary, 12%);
    padding: 8px 0px;
    color: white;
    button, button.btn-link {
        color: white;
    }
}

.orderItemSkuBill {
    ul {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
        li {
            
        }
    }
    .btn-link {
        color: #AAA;
    }
}
.bill-total {
    text-align: right;
    padding: 0px 24px 24px;
    font-style: italic;
    font-size: 16px;
}
.orderItemSkuBill {
    padding-bottom: 24px;
    padding-top: 24px;
    
    .orderItemSku .title {
        padding: 12px 0px 12px 24px;
    }
}
.placeOrder {
    .emailAuth.row {
        margin-left: 0;
        margin-right: 0;
    }
}
.userAvatarName img {
    max-height: 30px;
}
.subscribeEmail {
    padding: 24px;
}