body {
    
}
.houseCollectionHeader {
    float: none;
}

.menuGroups, .menuGroup, .menu-item-picker {
    .houseCollectionHeader {
        display: none;
    }
}
.navbar-nav > li > a {
    margin: 4px 6px;
}
.pageTitle {
    margin: 0 0;
}

.menu-group-form {
    .houseCollectionHeader {
        display: none;
    }
    .images-list {
        .menuGroupImage {
            .actions {
                list-style: none;
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                background: white;
                margin: 0 0;
                padding: 4px;
                li {
                    float: left;
                }
            }
            &:hover {
                .actions {
                    display: block;
                }
            }
        }
    }
}
.menu-group-picker {
    .groupRow:hover {
        cursor: pointer;
        
        td {
            background-color: @brand-primary;
            color: white;
        }
    }
    .groupRow .actions {
        display: none;
    }
}
.menu-item-picker {
    .itemRow:hover {
        cursor: pointer;
        
        td {
            background-color: @brand-primary;
            color: white;
        }
    }
    .itemRow .actions {
        display: none;
    }
}

.menuGroupGroup, .menuGroupItem {
    ul.actions {
        list-style: none;
        display: none;
        position: absolute;
        top: 1px;
        right: 16px;
        z-index: 3;
        background: white;
        padding: 0 0;
        margin: 0 0;
        li {
            float: left;
        }
    }
    @media (min-width: @screen-xs-min) {
        &:hover {
            cursor: pointer;
            ul.actions {
                display: block;
                top: auto;
                bottom: 33px;
            }
        }
    }
    
    .groupGroup, .groupItem {
        height: 200px;
        background-color: @brand-primary;
        color: white;
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 32px;
        // padding: 2px 2px;
        .bgImage {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            img {
                width: 100%;
            }
        }
        h3 {
            z-index: 2;
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            margin: 0 0;
        }
    }
    @media (max-width: @screen-xs-max) {
        ul.actions {
            display: block;
        }
        .groupGroup, .groupItem {
            height: 100px;
        }
    }
}

.menuGroup.fullView {
    .group {
        .actions {
            padding-top: 24px;
        }
    }
}

@media (max-width: @screen-xs-max) {
     .navbar-form {
         margin: 5px 0;
     }
     .navbar-toggle {
         margin-top: 3px;
     }
 }