body.loading {
    cursor: wait;
}
body.loading #loading {
    display: block;
}
body #loading {
    display: none;
}
body { padding-top: 50px; }
body {
    background-color: rgba(255, 255, 255, 0);
}
img {
    max-width: 100%;
}
#accountNav .dropdown-toggle img.avatar, #accountMenu img.avatar {
    max-height: 18px;
    max-width: 18px;
    margin: 0px 0px 0px 0px;
}
#accountMenu img.avatar {
    margin: 0px 0px 0px 12px;
}
#accountNav .dropdown-toggle .userAvatarName .name {
    display: none;
}
.btn-group img.avatar {
    max-height: 26px;
    max-width: 26px;
}

.feed-item {
    display: block;
    float: left;
    width: 320px;
    padding: 8px;
    font-size: 11px;
    overflow: auto;
    position: relative;
    margin: 0 0;
}
.feed-item .card {
    border: 2px solid rgb(255,255,255);
    border-radius: 2px;
    background: rgb(255,255,255);
    -webkit-transition: 0.22s all;
}
.feed-item .card.post {
    overflow: hidden;
    max-height: 420px;
}
.feed-item:hover .card {
    border: 2px outset rgb(228, 228, 228);
}
.feed-item .avatar img {
    box-shadow: 0px 0px 1px rgb(102, 102, 102);
}
.feed-list .list-pager {
    clear: both;
}
.feed-item a {
    word-break: break-all;
}
.feed-item img.faviconfile {
    max-height: 16px;
}

.feed-item .byline {
    display: none;
}
.feed-item .byline {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    padding: 8px;
    background: rgba(0,0,0,0.77);
    color: white;
    font-size: 12px;
    line-height: 28px;
}
.feed-item:hover .byline {
    display: block;
}
.feed-item .byline a {
    color: white;
}
.feed-item .title {
    font-size: 26px;
}

.feed-item .card.url .avatar a {
    margin: 10px;
    display: block;
}
.feed-item .card.url .avatar a.title {
    margin: 0 0;
    word-break: break-word;
}
.feed-item .card.url .avatar .faviconfile {
    margin-right: 4px;
    box-shadow: 0 0 0 #fff;
}
.feed[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

/* Also, don't forget to add this: */
[data-columns]::before { display: none; }